Source: openmediavault-letsencrypt
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
XB-Plugin-Section: utilities

Package: openmediavault-letsencrypt
Architecture: all
Depends: openmediavault (>= 2.1),
         git,
         ${misc:Depends}
Description: Generate free and valid SSL certificates for OMV
 Let's Encrypt allows you to to automatically generate free SSL certificates that you can use to secure server.
 Visit https://letsencrypt.org for more information on the project.
